*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#F8F4EF;
    color:#5E534D;
    font-family: Georgia, serif;
    overflow-x:hidden;
}

.page{
    min-height:100vh;

    display:none;

    justify-content:center;
    align-items:center;

    padding:20px;

    animation:fade .5s ease;
}

.page.active{
    display:flex;
}

.card{

    width:100%;
    max-width:520px;

    background:rgba(255,255,255,.75);

    backdrop-filter:blur(10px);

    border-radius:30px;

    padding:40px 30px;

    box-shadow:
    0 10px 30px rgba(0,0,0,.08);

    text-align:center;

}

.quote{

    font-size:30px;

    line-height:1.5;

    margin-bottom:70px;
}

h1{

    font-weight:400;

    font-size:clamp(30px,5vw,42px);

    margin-bottom:30px;
}

h2{

    font-weight:400;

    margin-top:20px;

    margin-bottom:20px;
}

p{

    font-size:18px;

    line-height:1.8;

    margin-bottom:18px;
}

button{

    width:100%;

    border:none;

    background:#D9A5A4;

    color:white;

    border-radius:18px;

    padding:18px;

    font-size:17px;

    margin-top:15px;

    cursor:pointer;

    transition:.3s;

}

button:hover{

    background:#C98F8E;

    transform:translateY(-2px);
}

.envelope{

    width:260px;

    height:180px;

    background:#FFF9F3;

    border-radius:12px;

    display:flex;

    justify-content:center;

    align-items:center;

    margin:auto;

    margin-bottom:60px;

    position:relative;

    font-size:32px;

    font-style:italic;

    box-shadow:
    0 10px 25px rgba(0,0,0,.08);

}

.envelope::before{

    content:"";

    position:absolute;

    top:0;

    left:0;

    width:0;

    height:0;

    border-left:130px solid transparent;
    border-right:130px solid transparent;
    border-top:90px solid #EFE4D7;

}

@keyframes fade{

    from{

        opacity:0;

        transform:translateY(15px);
    }

    to{

        opacity:1;

        transform:translateY(0);
    }

}

@media(max-width:768px){

    .card{

        padding:30px 22px;

        border-radius:25px;
    }

    .quote{

        font-size:25px;
    }

    p{

        font-size:16px;
    }

    .envelope{

        width:220px;

        height:150px;

        font-size:28px;
    }

}

@media(max-width:480px){

    h1{

        font-size:30px;
    }

    .quote{

        font-size:22px;
    }

    button{

        font-size:16px;

        padding:16px;
    }

}
