*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#F8F4EF;
    color:#5B514B;
    font-family: Georgia, serif;
    min-height:100vh;
    overflow-x:hidden;
}

.page{
    display:none;
    min-height:100vh;
    padding:24px;

    justify-content:center;
    align-items:center;

    animation:fade .5s ease;
}

.page.active{
    display:flex;
}

.card{
    width:100%;
    max-width:500px;

    background:rgba(255,255,255,.75);

    backdrop-filter:blur(12px);

    border-radius:30px;

    padding:35px 30px;

    box-shadow:
    0 10px 30px rgba(0,0,0,.08);

    text-align:center;
}

h1{
    font-size:clamp(28px,5vw,38px);

    margin-bottom:25px;

    font-weight:400;
}

h2{
    margin-top:20px;

    font-weight:400;
}

.quote{
    font-size:28px;

    line-height:1.5;

    margin-bottom:60px;
}

p{
    font-size:18px;

    line-height:1.8;

    margin-bottom:18px;
}

button{

    width:100%;

    border:none;

    border-radius:18px;

    background:#D9A5A4;

    color:white;

    padding:18px;

    margin-top:15px;

    cursor:pointer;

    font-size:17px;

    transition:.3s;
}

button:hover{

    background:#C98E8D;

    transform:translateY(-2px);
}

.envelope{

    width:250px;

    height:170px;

    background:#FFF9F4;

    margin:auto;

    margin-bottom:50px;

    border-radius:12px;

    display:flex;

    justify-content:center;

    align-items:center;

    position:relative;

    box-shadow:
    0 10px 25px rgba(0,0,0,.1);

    font-size:30px;

    font-style:italic;
}

.envelope:before{

    content:"";

    position:absolute;

    top:0;
    left:0;

    width:0;
    height:0;

    border-left:125px solid transparent;
    border-right:125px solid transparent;
    border-top:85px solid #EFE4D7;
}

.background-decoration{

    position:fixed;

    inset:0;

    background:
    radial-gradient(circle at top left,#FDEFE7,transparent),
    radial-gradient(circle at bottom right,#F6EAE6,transparent);

    z-index:-1;
}

@keyframes fade{

    from{

        opacity:0;

        transform:translateY(20px);
    }

    to{

        opacity:1;

        transform:translateY(0);
    }

}

@media (max-width:600px){

    .card{

        padding:30px 20px;

        border-radius:25px;
    }

    p{

        font-size:16px;
    }

    .quote{

        font-size:24px;
    }

    .envelope{

        width:220px;
        height:150px;
    }

}
.back-container{

    position:fixed;

    bottom:25px;

    left:50%;

    transform:translateX(-50%);

}

.back-button{

    width:140px;

    background:#B9ADA5;

    border-radius:20px;

}
